.aos-all {
  max-width: 100% !important;
  width: 100% !important;
  width: 100vw !important;
  overflow: hidden;
  margin: 0;
}

body {
  font-family: Georgia, Helvetica, sans-serif;
  overflow-x: hidden;
  background:url('images/projects/about-me.jpg') top right no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

li {
  list-style-type: none;
}
