body {
  font-family: Georgia, Helvetica, sans-serif;
  overflow-x: hidden;
  background:url('images/projects/about-me.jpg') top right no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

li {
  list-style-type: none;
}

nav > h2 {
  margin: 0 auto;
  font-family: Impact;
  color: #FFDC00;
  letter-spacing: 2px;
}

i > span {
  font-size: 16px;
}

.mynav {
   background: #001f3f !important;
   height: 80px;
   color: whitesmoke;
   opacity: 0.8;
}

.contact-container {
  background: #001f3f;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 0;
}

.gmail-icon,
.gmail-text,
.linkedin-icon,
.linkedin-text,
.github-icon,
.github-text {
  color: whitesmoke;
  font-size: 30px;
}

.contact-details {
  padding: 20px;
}

.contact-details > li {
  display: inline-block;
}

.banner-container {
  background: #001f3f !important;
  color: whitesmoke;
  margin: 0 auto;
  margin-top: 125px;
  border-radius: 35px;
  opacity: 0.8;
  width: 75%;
}

.banner-container > h2 {
  font-family: Impact;
  letter-spacing: 2px;
  color: #FFDC00;
}

.banner-container > p {
  color: whitesmoke;
}

.about-container {
  background: #001f3f !important;
  border-radius: 35px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
  opacity: 0.8;
  width: 75%;
}

.about-container > h3 {
  font-family: Impact;
  letter-spacing: 2px;
  color: #FFDC00;
}

.about-container > p {
  color: whitesmoke;
}

.isaac {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.skills-btn, .proj-btn{
  width: 80px;
}

.skill-container > .hexagon {
  margin: 0 auto;
}

.skills-text {
  background: #001f3f;
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  font-weight: bold;
  color: whitesmoke;
}

.hexagon > h5 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.hexagon {
  position: relative;
	width: 160px;
	height: 88px;
	background: #001f3f;
	position: relative;
  color: #FFDC00;
}

.hexagon:before {
  position: absolute;
	content: "";
	top: -40px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 40px solid #001f3f;
}

.hexagon:after {
  position: absolute;
	content: "";
	bottom: -40px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-top: 40px solid #001f3f;
}

.skills-wrap {
  opacity: 0.8;
  padding-left: 50px;
  padding-right: 50px;
}

.projects-container {
  margin-top: 50px;
  background: #001f3f;
  opacity: 0.8;
  margin-bottom: 20px;
}

.proj-sect-title {
  color: #FFDC00;
  font-family: impact, Helvetica, sans-serif;
}

.contact-form > input, textarea {
  width: 400px;
}

.contact-form {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.contact-form > input, textarea {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
}

.contact-form > textarea {
  width: 400px;
  height: 150px;
}

.contact-sect-title {
  color: #FFDC00;
}
